---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import TagsList from '@/skillfactory/tags-list.astro';

import Skills from "@/components/ui/Skills.astro";

const { research_areas } = profile;
---

<Layout title="Education | Zachary Prins">
  
  <!-- <div class="prose max-w-none prose-headings:mb-0 prose-headings:leading-snug"> -->

    <h1 class="text-3xl font-bold mb-2 leading-snug text-lime-600 ">Bachelor of Science</h1>
    <h2 class="text-2xl font-bold mb-1 leading-snug">Thompson Rivers University (2023-2027)</h2>
    <!-- <h2 class="text-2xl font-bold mb-4">Achievements</h2> -->
    <Skills listTitle="" listItems={[
      {
        name: "Dean's List",
        icon: "",
        iconColor: 'text-sky-700',
        description: "Fall 2023, Winter 2024, Fall 2024.",
      },
      {
        name: "4.30 GPA",
        icon: "",
        iconColor: 'text-sky-700',
        description: "Sept 2023-Fall 2024",
      },
    ]} />


    <List listTitle="" listItems={[
      {
        title: "Major in Mathematics",
        description: "Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
        skills:[
          { name: "Linear Algebra", icon: "", iconColor: "", description: "(MATH 2120)" },
          { name: "Differential Equations", icon: "", iconColor: "", description: "Ordinary and partial differential equations (MATH 2240 & 3160)" },
          { name: "Calculus", icon: "", iconColor: "", description: "Differential, integral, and multivariable calculus (MATH 1140, 1240, & 2110)" },
          { name: "Discrete Math", icon: "", iconColor: "", description: "(MATH 1700)" },
          { name: "Statistics", icon: "", iconColor: "", description: "(STAT 2000)" },
      ]
      },
      {
        title: "Major in Economics",
        description: "Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ",
        skills:[
          { name: "Microeconomics", icon: "", iconColor: "", description: "Principles of Microeconomics (ECON 1950)" },
          { name: "Macroeconomics", icon: "", iconColor: "", description: "Principles of Macroeconomics (ECON 1900)" },
      ]
      },
      {
        title: "Minor in Computing Science",
        description: "Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. ",
        skills: [
          { name: "Applied AI", icon: "", iconColor: "", description: "Applications of artificial intelligence (COMP 3710)" },
          { name: "Object Oriented Programming", icon: "", iconColor: "", description: "(COMP 3140)" },
          { name: "Data Structures", icon: "", iconColor: "", description: "(COMP 2230)" },
      ]
      }
    ]} />
    <h2 class="text-sky-700 font-bold">Math Club</h2>

    <div class="mb-12">
      <p class="text-lg mb-6">
        Description goes here.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a
      </p>
    </div>

    <h2 class="text-sky-700 font-bold">Music and Band Club</h2>

    <div class="mb-12">
      <p class="text-lg mb-6">
        Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a
      </p>
    </div>

    
</Layout>
