---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import TagsList from '@/skillfactory/tags-list.astro';

import Skills from "@/components/ui/Skills.astro";

const { research_areas } = profile;
---

<Layout title="Education | Zachary Prins">
  
  <!-- <div class="prose max-w-none prose-headings:mb-0 prose-headings:leading-snug"> -->

    <h1 class="text-3xl font-bold mb-2 leading-snug text-lime-600 ">Bachelor of Science</h1>
    <h2 class="text-2xl font-bold mb-1 leading-snug">Thompson Rivers University (2023-2027)</h2>
    <!-- <h2 class="text-2xl font-bold mb-4">Achievements</h2> -->
    <Skills listTitle="" listItems={[
      {
        name: "Dean's List",
        icon: "",
        iconColor: 'text-sky-700',
        description: "Fall 2023, Winter 2024, Fall 2024.",
      },
      {
        name: "4.30 GPA",
        icon: "",
        iconColor: 'text-sky-700',
        description: "Sept 2023-Fall 2024",
      },
    ]} />


    <List listTitle="" listItems={[
      {
        title: "Major in Mathematics",
        description: "Developing strong analytical and problem-solving skills through the study of mathematical theory, statistics, and applications. Gaining experience in areas such as linear algebra, calculus, and probability, which provide a solid foundation for understanding complex systems and patterns. Learning to approach problems with logical reasoning and precision, translating abstract concepts into practical solutions.",
        highlight: "This background enhances my ability to analyze data, identify trends, and develop models to support decision-making and strategic planning.",
        skills:[
          { name: "Linear Algebra", icon: "", iconColor: "", description: "Knowledge of fundamental concepts in linear algebra, including vector spaces, matrix operations, linear equations, orthogonality, eigenvalues, and linear transformations. (MATH 2120)" },
          { name: "Differential Equations", icon: "", iconColor: "", description: "Explored ordinary and partial differential equations, learning to model and solve equations that describe how physical, biological, and economic systems change over time and space. (MATH 2240 & 3160)" },
          { name: "Calculus", icon: "", iconColor: "", description: "Experience analyzing complex systems and predicting change over time through differential, integral, and multivariable calculus. (MATH 1140, 1240, & 2110)" },
          { name: "Discrete Math", icon: "", iconColor: "", description: "Learned foundational concepts in modern mathematics, including logic, set theory, number theory, graph theory, and finite state machines, with a focus on developing critical thinking and proof-writing skills. (MATH 1700)" },
          { name: "Statistics", icon: "", iconColor: "", description: "Introduced to probability and statistical reasoning, covering descriptive statistics, correlation, regression, probability distributions, sampling, experimental design, and hypothesis testing. Applied concepts using R to analyze data. (STAT 2000)" },
      ]
      },
      {
        title: "Minor in Computing Science",
        description: "Building a solid foundation in programming, software development, and algorithm design. Learning to think computationally and write efficient code in multiple languages to create effective technical solutions and adapt to new challenges.",
        skills: [
          { name: "Applied AI", icon: "", iconColor: "", description: "Learning classical artificial intelligence techniques including knowledge representation, heuristic algorithms, rule-based systems, and probabilistic reasoning. (COMP 3710)"},
          { name: "Object Oriented Programming", icon: "", iconColor: "", description: "Explored advanced concepts in C++ programming, including inheritance, polymorphism, and managing dynamic memory. (COMP 3140)" },
          { name: "Data Structures", icon: "", iconColor: "", description: "Explored algorithm analysis techniques and implemented data structures such as arrays, linked lists, trees, and hash maps in Java. (COMP 2230)" },
      ]
      },
      {
        title: "Minor in Economics",
        description: "Developing an understanding of how markets function and how decisions are made at both micro and macro levels.",
        skills:[
          { name: "Microeconomics", icon: "", iconColor: "", description: "Studied how individuals and firms interact in different market structures, covering supply and demand, consumer behavior, production costs, market efficiency, resource markets, and international trade. (ECON 1950)" },
          { name: "Macroeconomics", icon: "", iconColor: "", description: "Studied aggregate economic behavior, focusing on national income, GDP, inflation, unemployment, fiscal and monetary policy, and factors influencing economic growth. (ECON 1900)" },
      ]
      }
    ]} />
    <h2 class="text-sky-700 font-bold">Math Club</h2>

    <div class="mb-12">
      <p class="text-lg mb-6">
        Actively involved in the TRUSU Math Club, helping to organize and run events like the Integration Bee. Often engages with other students to promote interest in mathematics.
        </p>
    </div>

    <h2 class="text-sky-700 font-bold">Music and Band Club</h2>

    <div class="mb-12">
      <p class="text-lg mb-6">
        One of the inaugural members of the TRUSU Music & Band Club, assisting with setting up and taking down equipment for events. Played music with groups of varying sizes, collaborating with other musicians on a wide range of instruments.
      </p>
    </div>

    
</Layout>
